@import '../../assets/variable';

.wrapper {
  display: flex;
  align-items: center;

  @include mobile {
    flex-direction: column;
  }
  &__left {
    display: flex;
    flex-grow: 1;
    align-items: center;
    width: 100%;
  }
  &__icon {
    padding: 8px;
    margin: 20px;
    border-radius: 5px;
    background: red;
    height: 44px;
    width: 44px;

    display: flex;
    justify-content: center;
    align-items: center;
    img {
      color: white;
    }
  }
  &__desc_section {
    display: flex;
    flex-direction: column;
    gap: 2px;
    align-items: flex-start;
  }

  &__heading {
    font-weight: bold;
    color: #0082b5;
    font-size: toRem(18);
    text-align: left;
  }

  &__subheading {
    font-size: toRem(16);
    text-align: left;
  }
  &__action {
    @include mobile {
      width: 100%;

      margin-left: 28px;
      padding-right: 28px;
    }
    button {
      width: 150px !important;
      @include mobile {
        width: 100% !important;
      }
    }
  }
}
